* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Droid Sans;
}
#app-music {
  height: 100vh;
  width: 100vw;
  background: url(imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
#app-music .video-box {
  z-index: 2022;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
}
#app-music .video-box .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}
#app-music .video-box video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
}
#app-music .show {
  display: block;
}
#app-music #app-music-box {
  height: 560px;
  width: 800px;
  margin: 50px auto;
  border-radius: 15px;
  overflow: hidden;
}
#app-music #app-music-box .music-search-box {
  width: 100%;
  height: 60px;
  background-color: #2864bb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app-music #app-music-box .music-search-box .search-left {
  color: white;
  font-size: large;
  margin-left: 10px;
}
#app-music #app-music-box .music-search-box .search-right {
  width: 300px;
  height: 40px;
  margin-right: 20px;
}
#app-music #app-music-box .music-search-box .search-right input {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background: url(imgs/zoom.png) 260px center no-repeat white;
  font-size: 18px;
  padding-left: 10px;
}
#app-music #app-music-box .music-contect {
  width: 800px;
  height: 450px;
  border-left: 1px dashed #00a8d6;
  border-right: 1px dashed #00a8d6;
  display: flex;
  background: rgba(255, 255, 255, 0.6);
}
#app-music #app-music-box .music-contect .content-left {
  width: 200px;
  height: 100%;
  background: rgba(#2864bb, #2864bb, #2864bb, 0.5);
  border-right: 1px dashed #00a8d6;
  overflow: scroll;
}
#app-music #app-music-box .music-contect .content-left ul {
  list-style: none;
}
#app-music #app-music-box .music-contect .content-left .songs-list .songs-item {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  height: 40px;
  background-color: skyblue;
  align-items: center;
  cursor: pointer;
}
#app-music #app-music-box .music-contect .content-left .songs-list .songs-item .songs-logo {
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(imgs/table.png);
  background-position: -19px -24px;
}
#app-music #app-music-box .music-contect .content-left .songs-list .songs-item .songs-name {
  display: block;
  font-size: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#app-music #app-music-box .music-contect .content-left .songs-list .songs-item .video-logo {
  display: block;
  width: 19px;
  height: 15px;
  background-image: url(imgs/table.png);
  background-position: -2px -49px;
}
#app-music #app-music-box .music-contect .content-left .songs-list .songs-item .hidden {
  display: none;
}
#app-music #app-music-box .music-contect .content-left::-webkit-scrollbar {
  display: none;
}
#app-music #app-music-box .music-contect .content-middle {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#app-music #app-music-box .music-contect .content-middle .player-bar {
  position: absolute;
  top: -10px;
  right: 100px;
  z-index: 3;
  transform: rotate(-20deg);
}
#app-music #app-music-box .music-contect .content-middle .disk {
  position: absolute;
  z-index: 2;
  animation: rotateArround 5s linear 0.5s infinite;
  animation-play-state: paused;
}
#app-music #app-music-box .music-contect .content-middle .cover {
  z-index: 1;
  position: absolute;
  height: 150px;
  animation: rotateArround 5s linear 0.5s infinite;
  animation-play-state: paused;
}
#app-music #app-music-box .music-contect .content-middle .playing {
  animation-play-state: running;
}
@keyframes rotateArround {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
#app-music #app-music-box .music-contect .content-middle .playingbar {
  transform: rotate(25deg);
  transform-origin: -30% -5%;
}
#app-music #app-music-box .music-contect .content-right {
  width: 200px;
  height: 100%;
  border-left: 1px dashed #00a8d6;
  overflow: scroll;
}
#app-music #app-music-box .music-contect .content-right .hot-comment {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#app-music #app-music-box .music-contect .content-right .comment {
  list-style: none;
}
#app-music #app-music-box .music-contect .content-right .comment .comment-item {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-around;
  width: 200px;
  margin-top: 10px;
}
#app-music #app-music-box .music-contect .content-right .comment .comment-item .avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#app-music #app-music-box .music-contect .content-right .comment .comment-item .text {
  margin-left: 5px;
  width: 150px;
}
#app-music #app-music-box .music-contect .content-right .comment .comment-item .text .usr-name {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
#app-music #app-music-box .music-contect .content-right .comment .comment-item .text .comment-text {
  FONT-FAMILY: UKIJ Tuz Tom;
  font-size: 14px;
}
#app-music #app-music-box .music-contect .content-right::-webkit-scrollbar {
  display: none;
}
#app-music #app-music-box .music-footer {
  background: #f1f3f4;
  width: 800px;
  height: 50px;
}
#app-music #app-music-box .music-footer audio {
  width: 100%;
}
/*  */
